<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
      <h2 class="text-center text-uppercase text-white">Inscripciones Actuales</h2>
      <hr class="star-light mb-5">
      <div class="row">
        <table class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">Materia</th>
		      <th scope="col">Cuatrimestre</th>
		      <th scope="col">Profesor</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let item of inscripciones">
		      <td>{{item.materia}}</td>
		      <td>{{item.cuatrimestre}}</td>
		      <td>{{item.nombreProfesor}} {{item.apellidoProfesor}}</td>
		    </tr>
		  </tbody>
		</table>
      </div>
    </div>
  </section>